In [1]:
#use this
import pandas as pd
from glob import glob
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
%matplotlib inline

In [2]:
#use this
df=pd.DataFrame()
filenames = glob("DataGovSG/*_rainfall.csv")
for filename in filenames:
    other_df = pd.read_csv(filename)
    other_df = other_df.rename(columns={"value": "rainfall"})
    other_df["timestamp_sgt"] = other_df["timestamp_sgt"].astype("datetime64[ns]")
    df = df.append(other_df,ignore_index=True)
another_df = df.set_index("station_id").sort_index()

In [78]:
#use this
timechange = pd.to_timedelta("00:05:00")
timechange

Timedelta('0 days 00:05:00')

In [4]:
#use this
nnon_zero = another_df.sort_values("timestamp_sgt",ascending=True).reset_index().set_index("timestamp_sgt",drop=False)
times = nnon_zero.index
nnon_zero = nnon_zero.reset_index(drop=True)
#nnon_zero

In [12]:
times

DatetimeIndex(['2016-12-02 21:49:59', '2016-12-02 21:49:59',
               '2016-12-02 21:49:59', '2016-12-02 21:49:59',
               '2016-12-02 21:49:59', '2016-12-02 21:49:59',
               '2016-12-02 21:49:59', '2016-12-02 21:49:59',
               '2016-12-02 21:49:59', '2016-12-02 21:49:59',
               ...
               '2017-04-30 23:55:00', '2017-04-30 23:55:00',
               '2017-04-30 23:55:00', '2017-04-30 23:55:00',
               '2017-04-30 23:55:00', '2017-04-30 23:55:00',
               '2017-04-30 23:55:00', '2017-04-30 23:55:00',
               '2017-04-30 23:55:00', '2017-04-30 23:55:00'],
              dtype='datetime64[ns]', name='timestamp_sgt', length=2294406, freq=None)

In [21]:
new_times = pd.DatetimeIndex((np.floor(times.asi8/(1e9*300))*1e9*300).astype(np.int64)).values
new_times

array(['2016-12-02T21:45:00.000000000', '2016-12-02T21:45:00.000000000',
       '2016-12-02T21:45:00.000000000', ...,
       '2017-04-30T23:55:00.000000000', '2017-04-30T23:55:00.000000000',
       '2017-04-30T23:55:00.000000000'], dtype='datetime64[ns]')

In [30]:
nnon_zero = nnon_zero.set_index("timestamp_sgt",drop=True)
nnon_zero = nnon_zero.set_index(new_times,drop=True)
nnon_zero

                    station_id  rainfall
2016-12-02 21:45:00       S121       0.0
2016-12-02 21:45:00       S109       0.0
2016-12-02 21:45:00        S08       0.0
2016-12-02 21:45:00       S120       0.0
2016-12-02 21:45:00        S11       0.0
2016-12-02 21:45:00        S81       0.0
2016-12-02 21:45:00       S112       0.0
2016-12-02 21:45:00        S69       0.0
2016-12-02 21:45:00        S66       0.0
2016-12-02 21:45:00        S77       0.0
2016-12-02 21:45:00        S89       0.0
2016-12-02 21:45:00       S119       0.0
2016-12-02 21:45:00       S114       0.0
2016-12-02 21:45:00       S123       0.0
2016-12-02 21:45:00        S79       0.0
2016-12-02 21:45:00        S88       0.0
2016-12-02 21:45:00        S55       0.0
2016-12-02 21:45:00        S71       0.0
2016-12-02 21:45:00       S118       0.0
2016-12-02 21:45:00        S46       0.0
2016-12-02 21:45:00        S96       0.0
2016-12-02 21:45:00        S50       0.0
2016-12-02 21:45:00        S92       0.0
2016-12-02 21:45:00        S36       0.0
2016-12-02 21:45:00       S108       0.0
2016-12-02 21:45:00        S35       0.0
2016-12-02 21:45:00        S33       0.0
2016-12-02 21:45:00       S117       0.0
2016-12-02 21:45:00        S91       0.0
2016-12-02 21:45:00       S104       0.0
...                        ...       ...
2017-04-30 23:55:00        S07       0.0
2017-04-30 23:55:00       S120       0.0
2017-04-30 23:55:00        S33       0.0
2017-04-30 23:55:00        S24       0.0
2017-04-30 23:55:00       S118       0.0
2017-04-30 23:55:00       S104       0.0
2017-04-30 23:55:00        S64       0.0
2017-04-30 23:55:00        S78       0.0
2017-04-30 23:55:00        S89       0.0
2017-04-30 23:55:00       S123       0.0
2017-04-30 23:55:00        S71       0.0
2017-04-30 23:55:00        S66       0.0
2017-04-30 23:55:00       S102       0.0
2017-04-30 23:55:00        S46       0.0
2017-04-30 23:55:00       S115       0.0
2017-04-30 23:55:00        S81       0.0
2017-04-30 23:55:00        S79       0.0
2017-04-30 23:55:00        S92       0.0
2017-04-30 23:55:00       S107       0.0
2017-04-30 23:55:00       S109       0.0
2017-04-30 23:55:00        S61       0.0
2017-04-30 23:55:00        S35       0.0
2017-04-30 23:55:00       S117       0.0
2017-04-30 23:55:00       S116       0.0
2017-04-30 23:55:00       S122       0.0
2017-04-30 23:55:00        S29       0.0
2017-04-30 23:55:00       S113       0.0
2017-04-30 23:55:00       S101       0.0
2017-04-30 23:55:00        S50       0.0
2017-04-30 23:55:00       S100       0.0

[2294406 rows x 2 columns]

In [10]:
times[0]-(times[0]%timechange)

TypeError: unsupported operand type(s) for %: 'Timestamp' and 'Timedelta'

In [26]:
#use this
locations = pd.read_csv("StationLocations.csv")
locations=locations.rename(columns={"Lon (d)":"longitude","Lat (d)":"latitude"})
#locations

In [32]:
#use this
nnon_zero.index.name = "timestamp_sgt"
newer_df = nnon_zero.groupby(["timestamp_sgt","station_id"]).sum()
newer_df

                                rainfall
timestamp_sgt       station_id
2016-12-02 21:45:00 S06              0.0
                    S07              0.0
                    S08              0.0
                    S100             0.0
                    S101             0.0
                    S102             0.0
                    S104             0.0
                    S107             0.0
                    S108             0.0
                    S109             0.0
                    S11              0.0
                    S110             0.0
                    S112             0.0
                    S113             0.0
                    S114             0.0
                    S115             0.0
                    S116             0.0
                    S117             0.0
                    S118             0.0
                    S119             0.0
                    S120             0.0
                    S121             0.0
                    S122             0.0
                    S123             0.0
                    S24              0.0
                    S24B             0.0
                    S29              0.0
                    S33              0.0
                    S35              0.0
                    S36              0.0
...                                  ...
2017-04-30 23:55:00 S118             0.0
                    S119             0.0
                    S120             0.0
                    S122             0.0
                    S123             0.0
                    S24              0.0
                    S29              0.0
                    S33              0.0
                    S35              0.0
                    S40              0.0
                    S43              0.0
                    S44              0.0
                    S46              0.0
                    S50              0.0
                    S55              0.0
                    S61              0.0
                    S63              0.0
                    S64              0.0
                    S66              0.0
                    S71              0.0
                    S77              0.0
                    S78              0.0
                    S79              0.0
                    S81              0.0
                    S84              0.0
                    S88              0.0
                    S89              0.0
                    S900             0.0
                    S92              0.0
                    S94              0.0

[2294406 rows x 1 columns]

In [33]:
#use this
newer_df = newer_df.reset_index()
newer_df = newer_df.set_index("timestamp_sgt",drop=True).sort_index()
newer_df

                    station_id  rainfall
timestamp_sgt
2016-12-02 21:45:00        S06       0.0
2016-12-02 21:45:00        S07       0.0
2016-12-02 21:45:00        S08       0.0
2016-12-02 21:45:00       S100       0.0
2016-12-02 21:45:00       S101       0.0
2016-12-02 21:45:00       S102       0.0
2016-12-02 21:45:00       S104       0.0
2016-12-02 21:45:00       S107       0.0
2016-12-02 21:45:00       S108       0.0
2016-12-02 21:45:00       S109       0.0
2016-12-02 21:45:00        S11       0.0
2016-12-02 21:45:00       S110       0.0
2016-12-02 21:45:00       S112       0.0
2016-12-02 21:45:00       S113       0.0
2016-12-02 21:45:00       S114       0.0
2016-12-02 21:45:00       S115       0.0
2016-12-02 21:45:00       S116       0.0
2016-12-02 21:45:00       S117       0.0
2016-12-02 21:45:00       S118       0.0
2016-12-02 21:45:00       S119       0.0
2016-12-02 21:45:00       S120       0.0
2016-12-02 21:45:00       S121       0.0
2016-12-02 21:45:00       S122       0.0
2016-12-02 21:45:00       S123       0.0
2016-12-02 21:45:00        S24       0.0
2016-12-02 21:45:00       S24B       0.0
2016-12-02 21:45:00        S29       0.0
2016-12-02 21:45:00        S33       0.0
2016-12-02 21:45:00        S35       0.0
2016-12-02 21:45:00        S36       0.0
...                        ...       ...
2017-04-30 23:55:00       S118       0.0
2017-04-30 23:55:00       S119       0.0
2017-04-30 23:55:00       S120       0.0
2017-04-30 23:55:00       S122       0.0
2017-04-30 23:55:00       S123       0.0
2017-04-30 23:55:00        S24       0.0
2017-04-30 23:55:00        S29       0.0
2017-04-30 23:55:00        S33       0.0
2017-04-30 23:55:00        S35       0.0
2017-04-30 23:55:00        S40       0.0
2017-04-30 23:55:00        S43       0.0
2017-04-30 23:55:00        S44       0.0
2017-04-30 23:55:00        S46       0.0
2017-04-30 23:55:00        S50       0.0
2017-04-30 23:55:00        S55       0.0
2017-04-30 23:55:00        S61       0.0
2017-04-30 23:55:00        S63       0.0
2017-04-30 23:55:00        S64       0.0
2017-04-30 23:55:00        S66       0.0
2017-04-30 23:55:00        S71       0.0
2017-04-30 23:55:00        S77       0.0
2017-04-30 23:55:00        S78       0.0
2017-04-30 23:55:00        S79       0.0
2017-04-30 23:55:00        S81       0.0
2017-04-30 23:55:00        S84       0.0
2017-04-30 23:55:00        S88       0.0
2017-04-30 23:55:00        S89       0.0
2017-04-30 23:55:00       S900       0.0
2017-04-30 23:55:00        S92       0.0
2017-04-30 23:55:00        S94       0.0

[2294406 rows x 2 columns]

In [34]:
#use this
indices = newer_df.index.unique().values
indices

array(['2016-12-02T21:45:00.000000000', '2016-12-02T21:50:00.000000000',
       '2016-12-02T21:55:00.000000000', ...,
       '2017-04-30T23:45:00.000000000', '2017-04-30T23:50:00.000000000',
       '2017-04-30T23:55:00.000000000'], dtype='datetime64[ns]')

In [35]:
#use this
stand_dev = newer_df.groupby("station_id").std()
stand_dev

            rainfall
station_id
S06         0.269262
S07         0.302601
S08         0.284256
S100        0.230649
S101        0.250110
S102        0.184883
S103        0.000000
S104        0.256984
S106        0.238557
S107        0.241014
S108        0.244606
S109        0.289480
S11         0.283332
S110        0.256825
S112        0.246875
S113        0.260807
S114        0.280849
S115        0.245139
S116        0.193324
S117        0.241832
S118        0.282751
S119        0.264549
S120        0.251433
S121        0.270661
S122        0.231239
S123        0.288199
S24         0.249425
S24B        0.000000
S29         0.257607
S33         0.283383
S35         0.249482
S36         0.296501
S40         0.287522
S43         0.313657
S44         0.231964
S46         0.260366
S50         0.269884
S55         0.258740
S60         0.229889
S61         0.289499
S63         0.221918
S64         0.278298
S66         0.279983
S69         0.281058
S71         0.251096
S72         0.000000
S77         0.236326
S78         0.259600
S79         0.270977
S81         0.300110
S84         0.246295
S88         0.296926
S89         0.216623
S90         0.247670
S900        0.244654
S91         0.281940
S92         0.243584
S94         0.251924
S96         0.241749
S97         0.000000

In [36]:
#use this
mean = newer_df.groupby("station_id").mean()
mean

            rainfall
station_id
S06         0.026608
S07         0.028609
S08         0.024999
S100        0.021667
S101        0.023118
S102        0.014908
S103        0.000000
S104        0.025584
S106        0.022648
S107        0.023372
S108        0.022532
S109        0.027622
S11         0.025761
S110        0.023570
S112        0.019772
S113        0.024646
S114        0.026660
S115        0.019819
S116        0.017898
S117        0.021757
S118        0.025919
S119        0.024356
S120        0.022728
S121        0.026149
S122        0.020595
S123        0.027188
S24         0.023162
S24B        0.000000
S29         0.024703
S33         0.022509
S35         0.023203
S36         0.029244
S40         0.026062
S43         0.030670
S44         0.021161
S46         0.024938
S50         0.025974
S55         0.024704
S60         0.017389
S61         0.028344
S63         0.018478
S64         0.025716
S66         0.024086
S69         0.024145
S71         0.021097
S72         0.000000
S77         0.021665
S78         0.024786
S79         0.023891
S81         0.027262
S84         0.022049
S88         0.027990
S89         0.014467
S90         0.022070
S900        0.024356
S91         0.025664
S92         0.020867
S94         0.023482
S96         0.019507
S97         0.000000

In [37]:
#use this
paired_hours = pd.DataFrame()
all_stations = list(newer_df["station_id"].unique())
print(all_stations)
paired_hours["station_id"] = all_stations
paired_hours = paired_hours.set_index("station_id")
for station in all_stations:
    paired_hours[station] = None
print(len(all_stations))

['S06', 'S07', 'S08', 'S100', 'S101', 'S102', 'S104', 'S107', 'S108', 'S109', 'S11', 'S110', 'S112', 'S113', 'S114', 'S115', 'S116', 'S117', 'S118', 'S119', 'S120', 'S121', 'S122', 'S123', 'S24', 'S24B', 'S29', 'S33', 'S35', 'S36', 'S40', 'S43', 'S44', 'S46', 'S50', 'S55', 'S61', 'S63', 'S64', 'S66', 'S69', 'S71', 'S77', 'S78', 'S79', 'S81', 'S84', 'S88', 'S89', 'S90', 'S91', 'S92', 'S94', 'S96', 'S106', 'S103', 'S900', 'S97', 'S60', 'S72']
60

In [38]:
#maybe use this
al_stations = list(locations["station_id"].unique())
print(al_stations)
print(len(al_stations))

['S06', 'S07', 'S08', 'S11', 'S23', 'S24', 'S25', 'S29', 'S31', 'S33', 'S35', 'S36', 'S39', 'S40', 'S43', 'S44', 'S46', 'S50', 'S55', 'S60', 'S61', 'S63', 'S64', 'S66', 'S69', 'S71', 'S72', 'S77', 'S78', 'S79', 'S80', 'S81', 'S82', 'S84', 'S86', 'S88', 'S89', 'S90', 'S91', 'S92', 'S94', 'S96', 'S100', 'S101', 'S102', 'S104', 'S105', 'S106', 'S107', 'S108', 'S109', 'S110', 'S111', 'S112', 'S113', 'S114', 'S115', 'S116', 'S117', 'S118', 'S119', 'S120', 'S121', 'S122', 'S123', 'S241', 'S900']
67

In [39]:
#maybe use this
def intersect(a,b):
    return list(set(a) & set(b))

In [40]:
#maybe use this
print(intersect(all_stations,al_stations))
len(intersect(all_stations,al_stations))
all_stations = intersect(all_stations,al_stations)
print(all_stations)
len(all_stations)

['S07', 'S109', 'S29', 'S77', 'S88', 'S112', 'S69', 'S71', 'S60', 'S50', 'S96', 'S66', 'S84', 'S119', 'S06', 'S900', 'S11', 'S35', 'S110', 'S89', 'S94', 'S114', 'S90', 'S116', 'S61', 'S55', 'S24', 'S122', 'S107', 'S106', 'S115', 'S40', 'S79', 'S104', 'S33', 'S120', 'S72', 'S44', 'S123', 'S36', 'S46', 'S63', 'S64', 'S43', 'S113', 'S117', 'S118', 'S121', 'S100', 'S102', 'S78', 'S91', 'S81', 'S08', 'S92', 'S101', 'S108']
['S07', 'S109', 'S29', 'S77', 'S88', 'S112', 'S69', 'S71', 'S60', 'S50', 'S96', 'S66', 'S84', 'S119', 'S06', 'S900', 'S11', 'S35', 'S110', 'S89', 'S94', 'S114', 'S90', 'S116', 'S61', 'S55', 'S24', 'S122', 'S107', 'S106', 'S115', 'S40', 'S79', 'S104', 'S33', 'S120', 'S72', 'S44', 'S123', 'S36', 'S46', 'S63', 'S64', 'S43', 'S113', 'S117', 'S118', 'S121', 'S100', 'S102', 'S78', 'S91', 'S81', 'S08', 'S92', 'S101', 'S108']

57

In [41]:
#use this
neww = newer_df.set_index("station_id",append=True)
neww

                                rainfall
timestamp_sgt       station_id
2016-12-02 21:45:00 S06              0.0
                    S07              0.0
                    S08              0.0
                    S100             0.0
                    S101             0.0
                    S102             0.0
                    S104             0.0
                    S107             0.0
                    S108             0.0
                    S109             0.0
                    S11              0.0
                    S110             0.0
                    S112             0.0
                    S113             0.0
                    S114             0.0
                    S115             0.0
                    S116             0.0
                    S117             0.0
                    S118             0.0
                    S119             0.0
                    S120             0.0
                    S121             0.0
                    S122             0.0
                    S123             0.0
                    S24              0.0
                    S24B             0.0
                    S29              0.0
                    S33              0.0
                    S35              0.0
                    S36              0.0
...                                  ...
2017-04-30 23:55:00 S118             0.0
                    S119             0.0
                    S120             0.0
                    S122             0.0
                    S123             0.0
                    S24              0.0
                    S29              0.0
                    S33              0.0
                    S35              0.0
                    S40              0.0
                    S43              0.0
                    S44              0.0
                    S46              0.0
                    S50              0.0
                    S55              0.0
                    S61              0.0
                    S63              0.0
                    S64              0.0
                    S66              0.0
                    S71              0.0
                    S77              0.0
                    S78              0.0
                    S79              0.0
                    S81              0.0
                    S84              0.0
                    S88              0.0
                    S89              0.0
                    S900             0.0
                    S92              0.0
                    S94              0.0

[2294406 rows x 1 columns]

In [ ]:
#use this
idx=pd.IndexSlice
for station1 in all_stations:
    # Looking for a particular hour, which other stations also have rainfall in that hour.
    # Find total number of pair of stations that have simultaneous rainfall in that hour.
    #total = 0
    #how_many = nnon_zero["station_id"].value_counts()[station1]
    #print(how_many)
    for station2 in all_stations:
        if station2 != station1:
            correlation_coeff = 0
            num_hrs = 0
            for index1 in indices:
                stations = set(newer_df.loc[index1,"station_id"].values)
                if station1 in stations:
                    try:
                        index2 = index1+timechange
                        stations2 = set(newer_df.loc[index2,"station_id"].values)
                        if station2 in stations2:
                            num_hrs += 1
                            #new_index1 = index1 + (station1,)
                            #new_index2 = index2 + (station2,)
                            one = neww.loc[idx[index1, station1],"rainfall"]
                            #print(one)
                            mean_one = mean.loc[station1,"rainfall"]
                            two = neww.loc[idx[index2, station2],"rainfall"]
                            #print(two)
                            mean_two = mean.loc[station2,"rainfall"]
                            correlation_coeff += (one-mean_one)*(two-mean_two)
                    except KeyError:
                        pass
            if num_hrs != 1:
                correlation_coeff = correlation_coeff/((num_hrs-1)*stand_dev.loc[station1,"rainfall"]*stand_dev.loc[station2,"rainfall"])
            else:
                correlation_coeff = 0
            paired_hours.loc[station1,station2]= correlation_coeff
            print(station1,station2,correlation_coeff)
                #total+=1
                #if total == how_many:
                    #pairs +=1
print(paired_hours)

S07 S109 0.271166152321
S07 S29 0.0873192791671
S07 S77 0.332094146833
S07 S88 0.690827158649
S07 S112 0.0612161722003
S07 S69 0.439931472841
S07 S71 0.247947025767
S07 S60 0.184502781505
S07 S50 0.253331727656
S07 S96 0.0841230815853
S07 S66 0.0947461807066
S07 S84 0.0697047483009
S07 S119 0.296381360197
S07 S06 0.274205406389
S07 S900 0.17251499075
S07 S11 0.0731608902471
S07 S35 0.158389095495
S07 S110 0.423808210282
S07 S89 0.0838797995777
S07 S94 0.11069842209
S07 S114 0.18207440621
S07 S90 0.549156994646
S07 S116 0.154844558504
S07 S61 0.299880487084
S07 S55 0.215575537675
S07 S24 0.0988279925183
S07 S122 0.104574454748
S07 S107 0.169445228108
S07 S106 0.118841425125
S07 S115 0.0390549079669
S07 S40 0.187151725552
S07 S79 0.395456026915
S07 S104 0.0677982571717
S07 S33 0.0969238750602
S07 S120 0.428373959285

/Users/abby/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:33: RuntimeWarning: invalid value encountered in double_scalars

S07 S72 nan
S07 S44 0.12672459721
S07 S123 0.478972542121
S07 S36 0.614472284139
S07 S46 0.572506684529
S07 S63 0.132801306351
S07 S64 0.23479571964
S07 S43 0.441890996352
S07 S113 0.264110565896
S07 S117 0.0760821878025
S07 S118 0.395537637805
S07 S121 0.155776402699
S07 S100 0.172068261713
S07 S102 0.0380273697598
S07 S78 0.340959699672
S07 S91 0.101281821528
S07 S81 0.140936000044
S07 S08 0.490472665058
S07 S92 0.245495854456
S07 S101 0.0754377794463
S07 S108 0.243224764817
S109 S07 0.323071572503
S109 S29 0.122771597492
S109 S77 0.164330096732
S109 S88 0.341179160677
S109 S112 0.0993137321351
S109 S69 0.301896567014
S109 S71 0.126737978055
S109 S60 0.111211502921
S109 S50 0.131501756942
S109 S96 0.0530534254962
S109 S66 0.080374316646
S109 S84 0.109828113148
S109 S119 0.124927546385
S109 S06 0.287125071168
S109 S900 0.358293483345
S109 S11 0.0629667140457
S109 S35 0.108085981943
S109 S110 0.465621251872
S109 S89 0.0401683411795
S109 S94 0.107766883556
S109 S114 0.0709820964111
S109 S90 0.243028223089
S109 S116 0.101363137616
S109 S61 0.213596745233
S109 S55 0.32709753399
S109 S24 0.0615580404269
S109 S122 0.27026239501
S109 S107 0.1480274374
S109 S106 0.107211373083
S109 S115 0.0409529580845
S109 S40 0.201881118324
S109 S79 0.180477168068
S109 S104 0.134927692928
S109 S33 0.0553647373098
S109 S120 0.1889982377
S109 S72 nan
S109 S44 0.0679966810168
S109 S123 0.176199470471

In [ ]:
#use this
for station1 in all_stations:
    new_locations = locations.set_index("station_id",drop=True)
    new_locations["longitude"] = new_locations["longitude"]-new_locations.loc[station1,"longitude"]
    new_locations["latitude"] = new_locations["latitude"]-new_locations.loc[station1,"latitude"]
    for station2 in all_stations:
        if station2 != station1:
            x=new_locations.loc[station2,"longitude"]
            y=new_locations.loc[station2,"latitude"]
            z=paired_hours.loc[station1,station2]
            plt.scatter(x,y,c=z,vmin=0, vmax=1, marker="s",cmap="Spectral")
plt.colorbar()
plt.show()

In [42]:
indices

array(['2016-12-02T21:45:00.000000000', '2016-12-02T21:50:00.000000000',
       '2016-12-02T21:55:00.000000000', ...,
       '2017-04-30T23:45:00.000000000', '2017-04-30T23:50:00.000000000',
       '2017-04-30T23:55:00.000000000'], dtype='datetime64[ns]')

In [76]:
indices = indices[:-1013]
indices

array(['2016-12-02T21:45:00.000000000', '2016-12-02T21:50:00.000000000',
       '2016-12-02T21:55:00.000000000', ...,
       '2017-04-26T10:45:00.000000000', '2017-04-26T10:50:00.000000000',
       '2017-04-26T10:55:00.000000000'], dtype='datetime64[ns]')

In [77]:
indices[-100:-1]

array(['2017-04-26T02:35:00.000000000', '2017-04-26T02:40:00.000000000',
       '2017-04-26T02:45:00.000000000', '2017-04-26T02:50:00.000000000',
       '2017-04-26T02:55:00.000000000', '2017-04-26T03:00:00.000000000',
       '2017-04-26T03:05:00.000000000', '2017-04-26T03:10:00.000000000',
       '2017-04-26T03:15:00.000000000', '2017-04-26T03:20:00.000000000',
       '2017-04-26T03:25:00.000000000', '2017-04-26T03:30:00.000000000',
       '2017-04-26T03:35:00.000000000', '2017-04-26T03:40:00.000000000',
       '2017-04-26T03:45:00.000000000', '2017-04-26T03:50:00.000000000',
       '2017-04-26T03:55:00.000000000', '2017-04-26T04:00:00.000000000',
       '2017-04-26T04:05:00.000000000', '2017-04-26T04:10:00.000000000',
       '2017-04-26T04:15:00.000000000', '2017-04-26T04:20:00.000000000',
       '2017-04-26T04:25:00.000000000', '2017-04-26T04:30:00.000000000',
       '2017-04-26T04:35:00.000000000', '2017-04-26T04:40:00.000000000',
       '2017-04-26T04:45:00.000000000', '2017-04-26T04:50:00.000000000',
       '2017-04-26T04:55:00.000000000', '2017-04-26T05:00:00.000000000',
       '2017-04-26T05:05:00.000000000', '2017-04-26T05:10:00.000000000',
       '2017-04-26T05:15:00.000000000', '2017-04-26T05:20:00.000000000',
       '2017-04-26T05:25:00.000000000', '2017-04-26T05:30:00.000000000',
       '2017-04-26T05:35:00.000000000', '2017-04-26T05:40:00.000000000',
       '2017-04-26T05:45:00.000000000', '2017-04-26T05:50:00.000000000',
       '2017-04-26T05:55:00.000000000', '2017-04-26T06:00:00.000000000',
       '2017-04-26T06:05:00.000000000', '2017-04-26T06:10:00.000000000',
       '2017-04-26T06:15:00.000000000', '2017-04-26T06:20:00.000000000',
       '2017-04-26T06:25:00.000000000', '2017-04-26T06:30:00.000000000',
       '2017-04-26T06:35:00.000000000', '2017-04-26T06:40:00.000000000',
       '2017-04-26T06:45:00.000000000', '2017-04-26T06:50:00.000000000',
       '2017-04-26T06:55:00.000000000', '2017-04-26T07:00:00.000000000',
       '2017-04-26T07:05:00.000000000', '2017-04-26T07:10:00.000000000',
       '2017-04-26T07:15:00.000000000', '2017-04-26T07:20:00.000000000',
       '2017-04-26T07:25:00.000000000', '2017-04-26T07:30:00.000000000',
       '2017-04-26T07:35:00.000000000', '2017-04-26T07:40:00.000000000',
       '2017-04-26T07:45:00.000000000', '2017-04-26T07:50:00.000000000',
       '2017-04-26T07:55:00.000000000', '2017-04-26T08:00:00.000000000',
       '2017-04-26T08:05:00.000000000', '2017-04-26T08:10:00.000000000',
       '2017-04-26T08:15:00.000000000', '2017-04-26T08:20:00.000000000',
       '2017-04-26T08:25:00.000000000', '2017-04-26T08:30:00.000000000',
       '2017-04-26T08:35:00.000000000', '2017-04-26T08:40:00.000000000',
       '2017-04-26T08:45:00.000000000', '2017-04-26T08:50:00.000000000',
       '2017-04-26T08:55:00.000000000', '2017-04-26T09:00:00.000000000',
       '2017-04-26T09:05:00.000000000', '2017-04-26T09:10:00.000000000',
       '2017-04-26T09:15:00.000000000', '2017-04-26T09:20:00.000000000',
       '2017-04-26T09:25:00.000000000', '2017-04-26T09:30:00.000000000',
       '2017-04-26T09:35:00.000000000', '2017-04-26T09:40:00.000000000',
       '2017-04-26T09:45:00.000000000', '2017-04-26T09:50:00.000000000',
       '2017-04-26T09:55:00.000000000', '2017-04-26T10:05:00.000000000',
       '2017-04-26T10:10:00.000000000', '2017-04-26T10:15:00.000000000',
       '2017-04-26T10:20:00.000000000', '2017-04-26T10:25:00.000000000',
       '2017-04-26T10:30:00.000000000', '2017-04-26T10:35:00.000000000',
       '2017-04-26T10:40:00.000000000', '2017-04-26T10:45:00.000000000',
       '2017-04-26T10:50:00.000000000'], dtype='datetime64[ns]')

In [79]:
indices[0:100]

array(['2016-12-02T21:45:00.000000000', '2016-12-02T21:50:00.000000000',
       '2016-12-02T21:55:00.000000000', '2016-12-02T22:00:00.000000000',
       '2016-12-02T22:05:00.000000000', '2016-12-02T22:10:00.000000000',
       '2016-12-02T22:15:00.000000000', '2016-12-02T22:20:00.000000000',
       '2016-12-02T22:25:00.000000000', '2016-12-02T22:30:00.000000000',
       '2016-12-02T22:35:00.000000000', '2016-12-02T22:40:00.000000000',
       '2016-12-02T22:45:00.000000000', '2016-12-02T22:50:00.000000000',
       '2016-12-02T22:55:00.000000000', '2016-12-02T23:00:00.000000000',
       '2016-12-02T23:05:00.000000000', '2016-12-02T23:10:00.000000000',
       '2016-12-02T23:15:00.000000000', '2016-12-02T23:20:00.000000000',
       '2016-12-02T23:25:00.000000000', '2016-12-02T23:30:00.000000000',
       '2016-12-02T23:35:00.000000000', '2016-12-02T23:40:00.000000000',
       '2016-12-02T23:45:00.000000000', '2016-12-02T23:50:00.000000000',
       '2016-12-02T23:55:00.000000000', '2016-12-03T00:00:00.000000000',
       '2016-12-03T00:05:00.000000000', '2016-12-03T00:10:00.000000000',
       '2016-12-03T00:15:00.000000000', '2016-12-03T00:20:00.000000000',
       '2016-12-03T00:25:00.000000000', '2016-12-03T00:30:00.000000000',
       '2016-12-03T00:35:00.000000000', '2016-12-03T00:40:00.000000000',
       '2016-12-03T00:45:00.000000000', '2016-12-03T00:50:00.000000000',
       '2016-12-03T00:55:00.000000000', '2016-12-03T01:00:00.000000000',
       '2016-12-03T01:05:00.000000000', '2016-12-03T01:10:00.000000000',
       '2016-12-03T01:15:00.000000000', '2016-12-03T01:20:00.000000000',
       '2016-12-03T01:25:00.000000000', '2016-12-03T01:30:00.000000000',
       '2016-12-03T01:35:00.000000000', '2016-12-03T01:40:00.000000000',
       '2016-12-03T01:45:00.000000000', '2016-12-03T01:50:00.000000000',
       '2016-12-03T01:55:00.000000000', '2016-12-03T02:00:00.000000000',
       '2016-12-03T02:05:00.000000000', '2016-12-03T02:10:00.000000000',
       '2016-12-03T02:15:00.000000000', '2016-12-03T02:20:00.000000000',
       '2016-12-03T02:25:00.000000000', '2016-12-03T02:30:00.000000000',
       '2016-12-03T02:35:00.000000000', '2016-12-03T02:40:00.000000000',
       '2016-12-03T02:45:00.000000000', '2016-12-03T02:50:00.000000000',
       '2016-12-03T02:55:00.000000000', '2016-12-03T03:00:00.000000000',
       '2016-12-03T03:05:00.000000000', '2016-12-03T03:10:00.000000000',
       '2016-12-03T03:15:00.000000000', '2016-12-03T03:20:00.000000000',
       '2016-12-03T03:25:00.000000000', '2016-12-03T03:30:00.000000000',
       '2016-12-03T03:35:00.000000000', '2016-12-03T03:40:00.000000000',
       '2016-12-03T03:45:00.000000000', '2016-12-03T03:50:00.000000000',
       '2016-12-03T03:55:00.000000000', '2016-12-03T04:00:00.000000000',
       '2016-12-03T04:05:00.000000000', '2016-12-03T04:10:00.000000000',
       '2016-12-03T04:15:00.000000000', '2016-12-03T04:20:00.000000000',
       '2016-12-03T04:25:00.000000000', '2016-12-03T04:30:00.000000000',
       '2016-12-03T04:35:00.000000000', '2016-12-03T04:40:00.000000000',
       '2016-12-03T04:45:00.000000000', '2016-12-03T04:50:00.000000000',
       '2016-12-03T04:55:00.000000000', '2016-12-03T05:00:00.000000000',
       '2016-12-03T05:05:00.000000000', '2016-12-03T05:10:00.000000000',
       '2016-12-03T05:15:00.000000000', '2016-12-03T05:20:00.000000000',
       '2016-12-03T05:25:00.000000000', '2016-12-03T05:30:00.000000000',
       '2016-12-03T05:35:00.000000000', '2016-12-03T05:40:00.000000000',
       '2016-12-03T05:45:00.000000000', '2016-12-03T05:50:00.000000000',
       '2016-12-03T05:55:00.000000000', '2016-12-03T06:00:00.000000000'], dtype='datetime64[ns]')

In [91]:
indices = indices[:-13]
indices

array(['2016-12-02T21:45:00.000000000', '2016-12-02T21:50:00.000000000',
       '2016-12-02T21:55:00.000000000', ...,
       '2017-04-26T09:35:00.000000000', '2017-04-26T09:40:00.000000000',
       '2017-04-26T09:45:00.000000000'], dtype='datetime64[ns]')